* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    'red green'
    'blue yellow';
  grid-gap: 10px;
  border-radius: 100%;
  width: 600px;
  height: 600px;
}

.button {
  cursor: pointer;
}

.red {
  grid-area: red;
  background-color: red;
  border-top-left-radius: 100%;
}

.green {
  grid-area: green;
  background-color: green;
  border-top-right-radius: 100%;
}

.blue {
  grid-area: blue;
  background-color: blue;
  border-bottom-left-radius: 100%;
}

.yellow {
  grid-area: yellow;
  background-color: yellow;
  border-bottom-right-radius: 100%;
}

.active {
  opacity: 0.3;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.start {
  background-color: #ccc;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: initial;
  opacity: 1;
  transition: transform 0.3s;
  transition: opacity 0.3s;
  margin-top: 20px;
}

.start:hover {
  transform: scale(1.2);
}

.message {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  opacity: 1;
  max-height: 500px;
  transition: opacity 0.3s;
  transition: max-height 1s ease-in-out;
}

.hidden {
  opacity: 0;
}

.message.hidden {
  max-height: 0;
}

.score {
  position: absolute;
  top: 20px;
  margin: 0 auto;
  width: 600px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
